@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

@font-face {
    font-family: 'Cabin';
    src: local('Cabin'), url(https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap);
  }

#cadastroPage {
    width: 100%;  
}

#feedstyle {
    background-color: #CCCCCC;
    text-align: center;
}
.site-page-header{
    background-color: #CCCCCC;
}
#body {
    text-align: center;  
    
}

.form{
    background-color: #f5f5f0;
}
.formEdit{
    width: 70%;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;

}
.cadastroimage{
    background-color: #f5f5f0;
}

.buttonRegister{
    text-align: center;
}
.TitleRegister{
    padding: 10px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}
 


