.signUp{
    position: relative;
    float: right;
}

.signUp #botao{
    margin-right: 1.5em;
}


#layout{
    background-color: blueviolet;
}

#avatar{
    margin: 10,5,3,0;
}

/* o css nao funcionaaaa */