.signUp{
    position: relative;
    float: right;
}

.signUp #botao{
    margin-right: 1.5em;
}
.loginStyle{
    background-color: aquamarine;
}

.signUp #login{
    margin-right: 1.3em;
}

#layout{
    background-color: blueviolet;
}

#avatar{
    margin: 10,5,3,0;
}

#querocadastrar{
    width: 100%;
    background-color: azure;
    color: black;
    border-color: rgb(185, 185, 185);
}

#logobanner{
    width: 65%;
    margin-left: 6em;
}

#avatar2{
    margin-left: 1em;
}

#fechar{
    margin-left: 30em;
}
#entrar{
    margin-bottom: 10px;
    width: 100%;
}

