@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

@font-face {
    font-family: 'Cabin';
    src: local('Cabin'), url(https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap);
  }

#homePage {
    width: 100%;
}

.containerfeed {
    background-color:   #f5f5f0;
    text-align: center;
    float: left;
}

.titlepage{
    float: left;
    padding-top: 10px;
    padding-left: 25px;
    color: #ffff;
    font-family: 'Cabin', sans-serif;

}

.buttonproject{
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    text-align: center;

}
.group{
    background-color: rgba(55, 79, 99, 0.7);
    }
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}

.backtopstyle {
    height: 40;
    width: 40;
    line-Height: 40px;
    border-Radius: 4;
    background-Color: #FF4D4F;
    color: #fff;
    text-Align: center;
    font-Size: 14;
}
.containerfilter{
    padding: 10px;
    background-color:  #d1d9de;
}
.buttonsfilter{
    width: auto;
    height: auto;
}
.pagestep{
    padding: 30px;
}

#container {
    width: auto;
    height: auto;
    border: 1px solid #d6d6c2;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
    background-color:  #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.share{
    float: right;
    font-size: x-large;
    padding-left: 15px;
}
.buttonsproject{
    float: left;
}
.groupbuttons{
    clear: both;
    padding-top: 20px;
}
.TitlteFeed{
    padding-top: 7px;
}
.FeedDescription{
    width: 100%;
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

@font-face {
    font-family: 'Cabin';
    src: local('Cabin'), url(https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap);
  }

#filter {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Cabin', sans-serif;
  
}

.typehelp{
    padding-bottom: 5px;
    text-align: left;
    background-color: white;
    
}
.titletype{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 8px;
    font-family: 'Cabin', sans-serif;
    background-color: white;
}
.type{
    float: right;
    width: 50%;
    padding-bottom: 10px;
    background-color: white;

}
.filtro{
    float: right;
    width: 50%;
    padding-bottom: 20px;
    background-color: white;
}
.inputsearch{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.localization{
    background-color: white;
    padding-bottom: 30px;
}


