@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@font-face{
    font-family: 'Secular One', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
}

#container {
    width: auto;
    height: auto;
    border: 0.5px solid #d6d6c2;
    padding: 50px;
    margin: 20px;
    background-color:  #ffffff;
}

.pictures{
    width: 520;
    height: 180;
}