@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@font-face{
    font-family: 'Secular One', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
}

#container {
    width: auto;
    height: auto;
    border: 1px solid #d6d6c2;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin: 20px;
    background-color:  #ffffff;
}
.share{
    float: right;
    font-size: x-large;
    padding-left: 15px;
}

.like{
    float: right;
    font-size: x-large;
}

.buttonsproject{
    float: left;

}
.groupbuttons{
    clear: both;
    padding-top: 20px;
}

.imageico {
    width: 30%;
    float: left;
}
.contentcase{
    width: 70%;
    text-align: left;
    float: left;
}

.contentgroup{
    clear: both;
}