@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@font-face{
    font-family: 'Secular One', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
}

#container {
    width: auto;
    height: auto;
    border: 1px solid #d6d6c2;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
    background-color:  #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.share{
    float: right;
    font-size: x-large;
    padding-left: 15px;
}
.buttonsproject{
    float: left;
}
.groupbuttons{
    clear: both;
    padding-top: 20px;
}
.TitlteFeed{
    padding-top: 7px;
}
.FeedDescription{
    width: 100%;
    text-align: left;
}